<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="ConString" connectionString="Data Source=TT-Admin-PC\SQLEXPRESS;Initial Catalog=DB_LoanApplication;Persist Security Info=True;User ID=wms;Password=wms" providerName="System.Data.SqlClient"/>-->
    <add name="ConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_LoanApplication;Persist Security Info=True;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
